*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    width: 100%;
    height: 60vh;
    background:linear-gradient(green,rgb(203, 255, 47),rgb(210, 178, 20));
    position: absolute;
}
.wrapper h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    position: absolute;
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: rgb(255, 89, 0) 1px 0 10px;
    color: white;
}

.wrapper p{
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%); 
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    /* text-shadow: rgb(255, 89, 0) 1px 0 10px; */
    color: black;
}

.wrapper div{
    height: 60px;
    width: 60px;
    border: 2px solid rgb(114, 217, 36);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
}
div .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}
.wrapper div:nth-child(1){
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2){
    top: 60%;
    left: 80%;
    animation:animate 10s linear infinite;
}

.wrapper div:nth-child(3){
    top: 40%;
    left: 40%;
    animation:animate 5s linear infinite;
}
.wrapper div:nth-child(4){
    top: 66%;
    left: 30%;
    animation:animate 7s linear infinite;
}
.wrapper div:nth-child(5){
    top: 90%;
    left: 10%;
    animation:animate 9s linear infinite;
}
.wrapper div:nth-child(6){
    top: 60%;
    left: 30%;
    animation:animate 5s linear infinite;
}
.wrapper div:nth-child(7){
    top: 70%;
    left: 20%;
    animation:animate 8s linear infinite;
}
.wrapper div:nth-child(8){
    top: 65%;
    left: 10%;
    animation:animate 9s linear infinite;
}
.wrapper div:nth-child(9){
    top: 90%;
    left: 10%;
    animation:animate 6s linear infinite;
}
.wrapper div:nth-child(10){
    top: 45%;
    left: 20%;
    animation:animate 10s linear infinite;
}
.wrapper div:nth-child(11){
    top: 10%;
    left: 90%;
    animation:animate 9s linear infinite;
}
.wrapper div:nth-child(12){
    top: 20%;
    left: 70%;
    animation:animate 7s linear infinite;
}
.wrapper div:nth-child(13){
    top: 20%;
    left: 10%;
    animation:animate 8s linear infinite;
}
.wrapper div:nth-child(14){
    top: 60%;
    left: 5%;
    animation:animate 6s linear infinite;
}
.wrapper div:nth-child(15){
    top: 90%;
    left: 80%;
    animation:animate 9s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(70deg);
    }
   100%{
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}